* {

	--bg-color-dark : rgb(25,25,25);
	--secondary-color : rgb(54,54,54);
	--border-radius-m : 10px;
	--border-radius-l : 20px;
	--purple-accent : rgb(65, 65, 173);
	--muted-red:rgb(169, 0, 0);
	--muted-green : rgb(1, 90, 1);
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}