.message-row {
    width: 100%;
    height: fit-content;

}

.message-wrapper {
    padding: 10px;
}


.left {
    background-color: lightgray;
    padding: 5px;
    border-radius: var(--border-radius-m);
    border-bottom-left-radius: 0%;
}

.right {
    background-color: var(--purple-accent);
    padding: 5px;
    border-radius: var(--border-radius-m);
    border-bottom-right-radius: 0%;
}

.message-bubble {
    font-size: 2em;
}

.author {
    font-size: 1em;
}