#home{
    height:100vh;
    width:100vw;
    background-color: var(--bg-color-dark);
}

#acc-management {
    position:absolute;
    /* right:2%; */
    top:2%;

    background-color: var(--purple-accent);
    padding:0px 15px 0px 15px;
    border-radius: var(--border-radius-m);

    width:40%;
}

#logout-btn{
    font-size:80%;
    font-weight:600;

    border:none;
    border-radius:var(--border-radius-m);
    padding:15px;

    background-color: var(--secondary-color);
    color:white;
}

#delete-account-btn {
    padding:15px;
    border : none;
    border-radius: var(--border-radius-m);

    font-size:80%;
    font-weight: 600;
    margin-left:5px;

    background-color: var(--muted-red);
    color:white;
}

#home-center{
    min-height:80%;
    width:75%;

    border:none;
    border-radius:var(--border-radius-m);

    background-color: var(--secondary-color);
}

#signin-options{
    height:fit-content;
    width:100%;
}

#signin-options-header{
    color:white;
}

#signin-options>a{
    width: 30%;
    padding:10px;

    margin:10px;
    border:none;
    border-radius:var(--border-radius-m);

    font-size:100%;
    font-weight:600;

    text-decoration: none;
}

#home-login-btn{
    background-color: black;
    color:white;
}

#home-register-btn{
    background-color: lightgray;
    color:black;
}

